@charset "UTF-8";
/* board_jopInfo.jsp 구직정보 리스트 */

.subP-jopInfo .subPage:after {
    content: "";
}

.subPage-header:after {
    content: "";
    display:  block;
    clear: both;
}

.subP-jopInfo-header {
    margin-bottom:  20px;
}

header2-left > button {
    background-color:  white;
}

div.supP-jopInfo-header2 {
	display: inline-flex;
}

div.subP-jopInfo-header2 > button {
    background-color:  white;
    padding: 1px 15px 1px 15px;
}

.jopInfo-filter {
    float: left;
    margin-left: 363px;
}

.jopInfo-filter button {
    width: 42px;
    height: 34.78px;
}

.subPage-resultCount {
    float: left;
    width: auto;
}

.subP-jopinfo-header:after {
    content: "";
    display: block;
    clear: both;
}

span#jopInfo-searchCount {
    color:  coral;
    font-weight:  800;
}


.jobInfo-btn{
	background: white;
    border: 1px solid #ddd;
    padding: 4px 6px 4px 6px;
}


.subPage-resultCount {
    line-height: 32px;
}

.select-header {
    float: right;
    width: auto;
}


.jobInfo {
    border-top: 3px solid #4b8cda;
}


.jopInfo .select {
	cursor: pointer;
	float: left;
	position: relative;
	font-size: 16px;
}


.jopInfo-filter .select-styled {
	border: 1.4px solid #ded8d8;
	color: #a29c9c;
	background-color: transparent;
	padding: 6px 40px 3px 18px;
	margin: 0 3px 10px;
}

.jopInfo-filter .select-styled:after {
	content: "";
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-color: #1c9035 transparent transparent transparent;
	position: absolute;
	top: 16px;
	right: 15px;
}

.jopInfo-filter .select-styled:active:after, .select-styled.active:after {
	top: 6px !important;
	border-color: transparent transparent #0769f0 transparent;
}


.jobInfo-table {
	width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #ddd;
}

.jobInfo-table thead {
	background-color: #f7f7f7;
	text-align: center;
}

.jobInfo-table thead > tr {
	height: 40px;
    border-bottom: 1px solid #ddd;
}

.jobInfo-table thead > tr > th {
	font-size: 15px;
}

.jobInfo-table thead > tr > th:nth-of-type(3) {
    width: 140px;
}

.jobInfo-table thead > tr > th > svg {
    width: 2em !important;
    color: #ea5308;
}

.jobInfo thead > tr > th:nth-of-type(4) {
    width: 110px;
}

.jobInfo-table tbody {
	font-size: 13px;
}

.jobInfo-table tbody > tr > td:first-of-type {
	width: 110px;
}

.jobInfo-table tbody > tr > td:nth-of-type(2) {
	padding: 13px 30px 13px 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;    
}

.jobInfo-table > tbody > tr {
	border-bottom: 2px solid #ddd;
}

.jobInfo-table > tbody > tr > td > p {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    margin-top: 5px;
    word-spacing: 1px;	
}

.jobInfo-table > tbody > tr > td > p:first-of-type {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    margin-top: 5px;
    word-spacing: 1px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 400px;
    height: 40px;
    white-space: nowrap;
}


.jobInfo-table > tbody > tr > td:nth-of-type(4) {
    line-height: 1.4;
}

.jopInfo-table-btn span {
    line-height: 18px;
    margin-top: 5px;
    font-size: 12px;
}

.jopInfo-table-btn > p {
	font-size: 11px;
    letter-spacing: -0.9px;
    text-align: center;
}

.jopInfo-table-btn .btn-sal button {
	padding: 0 1px 0 1px;
    font-size: 10px;
    background-color: #0384b3;
    border-color: #0384b3;
    margin-right: 5px;
}

.jopInfo-table-btn .btn-pay button {
    padding: 0 1px 0 1px;
    font-size: 10px;
    background-color: #7eb950;
    border-color: #7eb950;
    margin-right: 5px;
}

.jopInfo-table-btn2 button:nth-of-type(1) {
    padding: 0 1px 0 1px;
    font-size: 10px;
    background-color: #fff;
    border-color: #ddd;
    text-align: center;
    margin-bottom: 5px;
}

.jopInfo-table-btn2 button:nth-of-type(2) {
    padding: 0 1px 0 1px;
    font-size: 10px;
    background-color: #fff;
    border-color: #ddd;
    text-align: center;
    color: #cca941;
    margin-bottom: 5px;
}

.jopInfo-table-btn {
	
}

.jopInfo-table-btn2 {
	text-align: center;
}