@charset "UTF-8";

@import url('NewFile-res.css');

h3 {
	padding: 0px;
	margin: 0px;
}

hr {
	margin-top: 50px;
	margin-bottom: 50px;
}

body {
	margin: 0px;
	font-family: Gugi-R, sans-serif;
}

ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
	overflow: hidden;
}

ul>li {
	float: left;
}

ul>li>a {
	color: #339595;
}

a {
	text-decoration: none;
}

/* header  Ã«Â¶Â€Ã«Â¶Â„ */
header {
	margin-bottom: 10px;
}

#header:after {
	clear: both;
	content: "";
	display: block;
}

.brand-logo {
	float: left;
	height: 53px;
	width: 146px;
	cursor: pointer;
}

nav>ul>li {
	padding: 20px 10px 10px 20px;
}

/* mobilemenu  */
#mobilemenu svg {
	width: 80px !important;
	height: 60px;
	color: #d5d5d5;
}

#mobilemenu {
	display: none !important;
}

body>div.wrapper>div>div>h1 {
	color: blue;
}

.main {
	background-image:
		url("/css_practice/assets/images/GettyImages-a7380708.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}

.overlap {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	text-align: center;
}

body>div.wrapper>div>div>div>h1 {
	color: white;
}

.overlap-item {
	top: calc(50% - 91.5px);
	position: relative;
}

.overlap-item h1 {
	margin-top: 0;
}

.sc {
	display: block;
	margin-top: 50px;
}

.sc-1 {
	margin-top: 50px;
}

.sc-1 h3, .sc-1 p {
	text-align: center;
	color: #4a7070;
}

.row-3 {
	width: 30.666%;
	float: left;
	margin-right: 4%;
	position: relative;
	/* float: left; */
}

.sr-row {
	display: flex;
	overflow: hidden;
}



.icon {
	font-size: 40px;
	color: #339595;
	height: 100%;
}

i {
	padding: 10px;
}

.r-1 {
	float: left;
	margin-right: 10px;
	width: 45px;
	height: 110px;
}

.r-2 {
	height: 110px;
	float: left;
	width: calc(100% - 55px);
}

.content {
	margin-top: 10px;
}

.flex {
	margin: 2em auto;
	max-width: 1200px;
}

.sc-title {
	margin: 0PX;
	padding: 20px;
}

.grey {
	background-color: #f8f8f8;
}

.sc-protfolio-Explanation {
	background-color: #ffffff;
	text-align: center;
}

.sc-protfolio-Explanation > * {
	padding:0 20px;
}

.sc-contain-1 {
	
}

.sc-protfolio-Explanation-caption {
	margin: 10px 0px 10px 0px;
}


.sc-row {
	padding:0 20px 40px;
}

.sc-row:after {
	display:block;
	content:"";
	clear:both;
}

.sc-row .img-container {
	float:left;
	width:48%;
	display:grid;
	grid-template-columns:140px calc(100% - 140px);
	
}

.sc-row .img-container:last-of-type {
	margin-left:4%;
}

/* footer */
footer {
	display: -webkit-box;
	display: -ms-flexbox;
}

footer:after {
	clear: both;
	display: block;
	content: "";
}

.r-4 {
	width: 25%;
	padding: 10px;
}

.fot-h3 {
	margin-bottom: 20px;
	margin-top: 20px;
}

.fot-hr {
	border-top: 1.4px dotted #9c9393 !important;
	margin: 0px;
	border: 0;
	margin-bottom: 10px;
}

.fot-seltter {
	padding: 10px;
	background-color: #f8f8f8;
	margin-bottom: 15px;
}

.fot-i {
	color: gray;
	font-size: 19px;
	margin: 1px 6px 1px 6px;
}

.fot-i2 {
	font-size: 23px;
	color: gray;
	margin: 0px 8px 0px 7px;
}

.fot-info {
	vertical-align: super;
}

.fot-info-container {
	margin-bottom: 7px;
}

.sc-portfolio-img {
	width: 100%;
	opacity: 1;
	display: block;
	
	}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	top: 50%;
}

.middle-wrap:hover .sc-portfolio-img {
	opacity: 0.3;
}

.middle-wrap:hover .img-container {
	background-color: black;
}

.middle-wrap:hover .middle {
	opacity: 1;
}

.text {
	opacity: 0.4;
	background-color: black;
	color: white;
	font-size: 16px;
	position: absolute;
	width: 100%;
	padding: 16px 32px;
	height: 100%;
}

.img-container {
	

}

.zoomIn {
	cursor: pointer;
	width: 66px;
	height: 66px;
	background-color: #1030df;
	margin: 0 auto;
	top: calc(50% - 33px);
	border-radius: 50%;
	position: relative;
	padding: 10px;
	border: 1px solid #1e4eff;
}

.zoomIn-container {
	border: 1px solid white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    top: calc(50% - 40px);
    margin: 0 auto;
    position: relative;
    background-color: white;
}

.plus-in {
	font-size: 36px;
	top: calc(50% - 18px);
}






body>div.wrapper>div>div>div>p {
	line-height: 30px;
}

body>div:nth-child(3)>div.sc>section>div>p {
	line-height: 25px;
}

body>div:nth-child(3)>div.flex>div>div>div>div:nth-of-type(3) {
	margin: 0px;
}

.sc-Explanation-btn {
	margin-bottom: 20px;  
}
.middle-wrap{
	position: relative;
}